//地图信息定位
.mapCn {
  background-image: url("./images/map-china.png");
}

.mapSgp {
  background-image: url("./images/map-singapore.png");
}

.mapMs {
  background-image: url("./images/map-malaysia.png");
}
