.banner {
  background-image: url("../assets/images/home/banner-bg.png");
  aspect-ratio: 8 / 5;
}

.benefit {
  background-image: url("../assets/images/home/benefit-bg.png");
  background-size: 1440px 100%;
}
