// 透明的
.transparent {
  color: #000;
  background: #fff;
  .contract {
    color: #7a7a7a;
    // color: #d1d1d1;
  }
}

.frosted-glass {
  backdrop-filter: blur(10px);
  // background: rgba(255, 255, 255, 0.3);
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #fff;
  .contract {
    color: #7a7a7a;
    // color: #d1d1d1;
  }
}

.white {
  color: #000;
  background-color: #fff;
}

.mobile {
  color: #000;
  background-color: #fff;
}

@keyframes in {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes out {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

.out {
  animation-name: out !important;
  animation-duration: 0.2s !important;
  animation-fill-mode: forwards;
}

.in {
  top: 0;
  z-index: 100;
  position: sticky;
  animation-name: in;
  animation-duration: 0.3s;
}

.action-icon {
  @apply relative h-[30px] w-[35px];

  span {
    @apply absolute left-0 w-full rounded-full border-[2px] border-[#ED3838] transition-all duration-300;

    &:nth-child(1) {
      @apply top-[2px];
    }

    &:nth-child(2) {
      @apply top-[15px];
    }

    &:nth-child(3) {
      @apply top-[15px];
    }

    &:nth-child(4) {
      @apply top-[28px];
    }
  }
}

.action-icon-close {
  span {
    @apply absolute left-[1.5px];

    &:nth-child(1) {
      @apply left-[19px] top-[30px] w-0 border-0;
    }

    &:nth-child(2) {
      @apply top-[15px] w-[35px] rotate-45 transform;
    }

    &:nth-child(3) {
      @apply top-[15px] w-[35px] -rotate-45 transform;
    }

    &:nth-child(4) {
      @apply left-[19px] top-[30px] w-0 border-0;
    }
  }
}

.container {
  height: 56px;
  box-sizing: border-box;
  border-radius: 4px;
  box-sizing: border-box !important;
}
.container:hover,
.container:focus {
  --react-international-phone-height: 54px;
  border: 1px solid rgb(0, 0, 0);
}
.defaultInput {
  border: 1px solid #dddddd;

  transition: all 0.2s ease;
}

.defaultInput:hover,
.defaultInput:focus {
  outline: none;
  border: 1px solid rgb(0, 0, 0);
}
.errorForm {
  outline: none;
  border: 1px solid rgb(255, 0, 0);
}
