.country{
  color:#666666 ;
  cursor: pointer;
  position: relative;

.countryBg{
  position: absolute;
  width: 136px;
  height: 20px;
  background-color:#FFC4C4 ;
  left: 50%;
  transform: translateX(-50%);
  top: 41px;
  z-index: 1;
  border-radius: 3.5pt;
}
& span:first-child{
   position: relative;
    z-index: 10;
  z-index: 10;
}

}

.activeCountry{
  color:#333333 ;
  cursor: pointer;
  position: relative;
  .countryBg{
  position: absolute;
  width: 136px;
  height: 20px;
   background-color:#ED3838 ;
    left: 50%;
  transform: translateX(-50%);
  top: 41px;
  z-index: 1;
  border-radius: 3.5pt;
}
& span:first-child{
   position: relative;
    z-index: 10;
}
}
.country:hover{
   color:#333333
}


//地图信息定位

.cdMap{
  background: url("../images/cd.png");
  background-size: 100% 100%;
  width: 1440px;
  height: 634px;
  position: relative;
}

.sgpMap{
 background: url("../images/sgp.png");
  background-size: 100% 100%;
  width: 1440px;
  height: 634px;
   position: relative;
}
.myMap{
 background: url("../images/my.png");
  background-size: 100% 100%;
  width: 1440px;
  height: 634px;
   position: relative;

}

 .company{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    display: flex;

  }
  .position{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom:202px ;
  }
