.box{
  width: calc(calc(100% - 48px) / 3) !important;
  height: auto;
  border-radius: 8px;
   overflow: hidden;
}

.emptyBox{
  background: linear-gradient(45deg, #E42F2F 0%, #FEA190 100%);
border-radius: 8px;
}

// .box:hover{


// }

.scale{
  width: 100%;
 transition: all 0.4s ease;
}
.scale:hover{
 transform: scale(1.1);
}
