.shadow_custom {
    box-shadow: 0px 0px 14px 0px rgba(50,29,29,0.14);
  }
.opcity{
  @apply bg-white bg-opacity-80
}
.sub_container{
  @apply w-full flex items-center md:justify-between md:flex-row;
}

.sub_context{
  @apply  md:w-[62%] md:bg-white md:bg-opacity-80 text-[#333333] w-full;
}

.sub_title{
  @apply text-3xl font-extrabold  mb-[43px] md:mb-[32px] md:mt-[40px];
}

.sub_text{
  @apply md:ml-[24px] md:text-[20px] text-[26px];
}

.img{
  @apply md:h-[100%] md:w-[41%] md:min-w-[494px] md:z-0 h-[336px] mb-[72px] md:mb-0;
}

.sub_ul{
  @apply mb-[40px] md:h-[124px] flex flex-col justify-evenly h-[164px] ml-[24px] md:ml-[24px] md:text-[20px] text-[26px] font-[600] md:font-[600];
}

.sub_li{
  @apply flex items-center;
}
.sub_li_img{
  @apply md:h-[16px] md:w-[16px] h-[24px] w-[24px] md:mr-[10px] mr-[12px] ;
}

@media screen and (min-width: 1463px) and (max-width:1500px){
  .img {
    transform: scale(0.98,0.98);
  }
}
@media screen and (min-width: 1500.1px) and (max-width:1550px){
  .img {
    transform: scale(0.96,0.96);
  }
}

