.shadow_custom {
    box-shadow: 0px 0px 14px 0px rgba(50,29,29,0.14);
  }
.opcity{
  @apply bg-white bg-opacity-80
}
.sub_container{
  @apply w-full flex items-center md:justify-between md:flex-row;
}

.sub_context{
  @apply  md:w-[62%] md:bg-white md:bg-opacity-80 text-[#333333] w-full;
}

.sub_title{
  @apply text-3xl font-extrabold  mb-[43px] md:mb-[32px] md:mt-[40px];
}

.sub_text{
  @apply md:ml-[24px] md:text-[20px] text-[26px];
}

.img_right,.image_left{
  @apply md:h-[100%] md:w-[494px] md:z-0 h-[336px] mb-[72px] md:mb-0 ;
}

.sub_ul{
  @apply mb-[40px] md:h-[124px] flex flex-col justify-evenly h-[164px] ml-[24px] md:ml-[24px] md:text-[20px] text-[26px] font-[600] md:font-[600];
}

.sub_li{
  @apply flex items-center;
}
.sub_li_img{
  @apply md:h-[16px] md:w-[16px] h-[24px] w-[24px] md:mr-[10px] mr-[12px] ;
}

// 右边图
$right-img-start-width: 1440;
$right-img-end-width: 1745;
$right-img-scale: 0.98;
$right-img-translate: -10;
$right-img-scale-step: 0.02;
$right-img-translate-step: 10;

@for $width from $right-img-start-width to $right-img-end-width + $right-img-translate-step {
  $scale: $right-img-scale - ($width - $right-img-start-width) / 400 * $right-img-scale-step;
  $translate: $right-img-translate - ($width - $right-img-start-width) / 24 * $right-img-translate-step;
  @media screen and (min-width: #{$width}px) {
    .img_right {
      transform: scale(#{$scale}, #{$scale}) translate(#{$translate}px, 0);
    }
  }
}

// 左边图
$left-img-start-width: 1440;
$left-img-end-width: 1745;
$left-img-scale: 0.98;
$left-img-translate: 10;
$left-img-scale-step: 0.02;
$left-img-translate-step: -10;

@for $width from $left-img-start-width to $left-img-end-width + $left-img-translate-step {
  $scale: $left-img-scale - ($width - $left-img-start-width) / 400 * $left-img-scale-step;
  $translate: $left-img-translate - ($width - $left-img-start-width) / 24 * $left-img-translate-step;
  @media screen and (min-width: #{$width}px) {
    .image_left{
      transform: scale(#{$scale}, #{$scale}) translate(#{$translate}px,0);
    }
  }
}



